# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Output of 'npm pack'
*.tgz

# Optional REPL history
.node_repl_history

# Caches
.eslintcache
*.tsbuildinfo
.cache/

# Optional npm cache directory
.npm

# Coverage directory used by tools like istanbul
coverage
*.lcov
lib-cov

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*